body {
  font: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;
}
label, input, button, select, textarea {
  font-size: 100%;
}

.jasmine_reporter {
  margin: 8px;
  font-size: 14px;
}
.jasmine_reporter label {
  display: inline;
}

.input-panel {
  display: none;
}

.runner-panel .alert {
  margin-top: 4px; 
}
